#main {
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(112, 7, 233, 0.787);
  align-items: center;
}

#full-survey-form-section {
  background-color: rgba(38, 3, 77, 0.87);
  width: 70%;
}

.survey-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#dropdown {
  flex-basis: 2em;
}

.input-field {
  border-radius: 5px;
  padding: 10px;
}

/* #name {
  opacity: 50%;
}

#name:hover {
  opacity: 100%;
} */
